extends layout
block title
  title (14) Xylophone
block content
  h1 Day 14 - Xylophone
  .game#game
    .do(data-key='c') Do
    .re(data-key='d') Re
    .mi(data-key='e') Mi
    .fa(data-key='f') Fa
    .sol(data-key='g') Sol
    .la(data-key='a') La
    .ti(data-key='b') Ti
    .do(data-key='cc') Do
  .buttons
    button.record#record REC
    button.play#play PLAY
    button.stop#stop STOP
  .notes
    audio#c(data-key='c', src='//goo.gl/T1rxRG')
    audio#d(data-key='d', src='//goo.gl/KT8FN3')
    audio#e(data-key='e', src='//goo.gl/1SfsNS')
    audio#f(data-key='f', src='//goo.gl/OsOCXe')
    audio#g(data-key='g', src='//goo.gl/vukZmv')
    audio#a(data-key='a', src='//goo.gl/Bjd9KT')
    audio#b(data-key='b', src='//goo.gl/MS9HTp')
    audio#cc(data-key='cc', src='//goo.gl/ANMMwn')
