extends layout
block title
  title (14) Xylophone
block content
  h1 Day 14 - Xylophone
  .game#game
    .do Do
    .re Re
    .mi Mi
    .fa Fa
    .sol Sol
    .la La
    .ti Ti
    .do Do
  .notes
    audio(src='//goo.gl/T1rxRG')
    audio(src='//goo.gl/KT8FN3')
    audio(src='//goo.gl/1SfsNS')
    audio(src='//goo.gl/OsOCXe')
    audio(src='//goo.gl/vukZmv')
    audio(src='//goo.gl/Bjd9KT')
    audio(src='//goo.gl/MS9HTp')
    audio(src='//goo.gl/ANMMwn')
